.elements{
  display: grid;
  grid-template-rows: repeat(2, 362px);
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  grid-auto-rows: auto;
  gap: 21px 18px;
  padding-bottom: 66px;
}

@media screen and (max-width: 820px){
  .elements{
    grid-template-rows: repeat(3, 362px);
    grid-template-columns: repeat(2, minmax(200px, 282px));
  }
}

@media screen and (max-width: 499px){
  .elements{
    grid-template-rows: repeat(6, 362px);
    grid-template-columns: 282px;
    gap: 20px;
    padding-bottom: 48px;
  }
}