.popup__fault{
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  padding: 0 36px 36px;
  background: #fff;
  color: #000;  
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 499px){
  .popup__fault{
    max-width: 75%;
    padding: 15px;
  }
}
@media screen and (max-height: 360px){
  .popup__fault{
    padding: 10px 36px 10px;
  }
}